html {
  height: 100%;
}
.fp-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.fp-header {
  background: rgba(20, 24, 28, 0.9);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.fp-header ul,
.fp-header ol,
.fp-header li,
.fp-header p {
  margin: 0;
}
.fp-header li,
.fp-header p {
  line-height: 50px;
}
.fp-header a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.fp-header a:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6);
}
.fp-nav ul {
  text-align: center;
}
.fp-nav li {
  display: inline-block;
  margin: 0 5px;
}
.fp-nav .active a {
  opacity: 0.6;
}
.fp-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  /* Requires modernizr */
}
.touch .fp-page {
  margin-bottom: 200px;
}
.fp-image-bg > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}
.fp-image-bg .delayed-image-load {
  width: 100%;
  height: 100%;
}
.fp-image-bg .spinner {
  position: absolute;
  left: 50%;
  top: 40%;
}
.fp-content {
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.fp-pagination {
  position: fixed;
  top: 0;
  right: 10px;
  line-height: 50px;
  z-index: 2;
}
.fp-pagination a {
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.touch .fp-pagination a {
  display: none;
}
.fp-first-page-active .fp-prev {
  opacity: 0.6;
}
.fp-last-page-active .fp-next {
  opacity: 0.6;
}
.fp-long {
  min-height: 100%;
  height: auto !important;
}
.fp-header a,
.fp-pagination a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.fp-header a:hover,
.fp-pagination a:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6);
}
